<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.pixelgang.workz" version="1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Water Workz</name>
	<description>Boatgame</description>
	<author href="https://pixelgangstudios.com" email="pixelgangus@gmail.com">Pixel Gang Studio</author>

	<icon src="www/icon-256.png" gap:platform="ios" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icon-152.png" gap:platform="ios" width="152" height="152" density="xhdpi" />
	<icon src="www/loading-logo.png" gap:platform="ios" width="80" height="80" density="xhdpi" />
	<icon src="www/icon-128.png" gap:platform="ios" width="128" height="128" density="xhdpi" />
	<icon src="www/icon-120.png" gap:platform="ios" width="120" height="120" density="xhdpi" />
	<icon src="www/icon-114.png" gap:platform="ios" width="114" height="114" density="xhdpi" />
	<icon src="www/icon-76.png" gap:platform="ios" width="76" height="76" density="xhdpi" />
	<icon src="www/icon-32.png" gap:platform="ios" width="32" height="32" density="xhdpi" />
	<icon src="www/icon-16.png" gap:platform="ios" width="16" height="16" density="xhdpi" />
	<icon src="www/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
	<icon src="www/icon-76.png" gap:platform="ios" width="76" height="76" />
	<icon src="www/Icon-86@2x.png" gap:platform="ios" width="172" height="172" />
	<icon src="www/Icon-98@2x.png" gap:platform="ios" width="196" height="196" />
	<icon src="www/Icon-App-20x20@1x.png" gap:platform="ios" width="20" height="20" />
	<icon src="www/Icon-App-20x20@2x.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/Icon-App-20x20@2x-1.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/Icon-App-20x20@3x.png" gap:platform="ios" width="60" height="60" />
	<icon src="www/Icon-App-29x29@1x.png" gap:platform="ios" width="29" height="29" />
	<icon src="www/Icon-App-29x29@2x.png" gap:platform="ios" width="58" height="58" />
	<icon src="www/Icon-App-29x29@2x-1.png" gap:platform="ios" width="58" height="58" />
	<icon src="www/Icon-App-29x29@3x.png" gap:platform="ios" width="87" height="87" />
	<icon src="www/Icon-App-40x40@1x.png" gap:platform="ios" width="40" height="40" />
	<icon src="www/Icon-App-40x40@2x.png" gap:platform="ios" width="80" height="80" />
	<icon src="www/Icon-App-40x40@2x-1.png" gap:platform="ios" width="80" height="80" />
	<icon src="www/Icon-App-40x40@3x.png" gap:platform="ios" width="120" height="120" />
	<icon src="www/Icon-App-60x60@2x.png" gap:platform="ios" width="120" height="120" />
	<icon src="www/Icon-App-60x60@3x.png" gap:platform="ios" width="180" height="180" />
	<icon src="www/Icon-App-76x76@1x.png" gap:platform="ios" width="76" height="76" />
	<icon src="www/Icon-App-76x76@2x.png" gap:platform="ios" width="152" height="152" />
	<icon src="www/Icon-App-83.5x83.5@2x.png" gap:platform="ios" width="167" height="167" />
	<icon src="www/ItunesArtwork@2x.png" gap:platform="ios" width="1024" height="1024" />
	<icon src="www/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
	<icon src="www/Icon-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="www/Icon-Small-50@2x.png" gap:platform="ios" width="1024" height="1024" />
	<icon src="www/Icon.png" gap:platform="ios" width="1024" height="1024" />
	<icon src="AppIcon50x50@2x~ipad.png" gap:platform="ios" width="100" height="100"/>
	<icon src="AppIcon57x57.png" gap:platform="ios" width="57" height="57"/>
	<icon src="AppIcon72x72@2x~ipad.png" gap:platform="ios" width="144" height="144"/>
	<icon src="AppIcon83.5x83.5@2x~ipad.png" gap:platform="ios" width="167" height="167"/>
	<icon src="AppIcon50x50@2x.png" gap:platform="ios" width="100" height="100"/>
	<icon src="AppIcon72x72@2x.png" gap:platform="ios" width="144" height="144"/>
	<icon src="AppIcon83.5x83.5@2x.png" gap:platform="ios" width="167" height="167"/>

	<preference name="android-targetSdkVersion" value="21" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="8.0" />
	<preference name="android-minSdkVersion" value="16" />
	<access origin="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-ad-admob" />
	<plugin name="cordova-plugin-crosswalk-webview" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-wkwebview-engine" />


	<engine name="ios" />
	<engine name="android" />
</widget>
